/*page profil*/
.bodyf{
	background-image:url(https://images.freeimages.com/images/large-previews/01a/technology-background-1632715.jpg);
	background-size: cover;

}

#container1{
    width: 716px;
    height: 507px;
    background-color: #03a9f452;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 29%;
    margin-top: 10%;
    border: solid 3px black;
}

#main{


    width: 50%;
    height: 291px;
    background-color: #5ca78433;
    border: solid black 2px;
    font-size: 25px;


}

#info-prof{
    width: 50%;
    height: 98%;
    background-color: #ffeb3b1c;
    text-align: center;
    border: solid 2px;
    font-size: 25px;

}


#profc{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 30%;
	text-align: center;
}

#H1prof {
	text-align: center;
}
#H1pro{
position: absolute;
    font-size: 34px;
    color: black;
    margin-top: 11%;
    margin-left: 32%;
    background-color: #3c7db1;
    text-align: center;
}
#h3prof{
    color: white;
    background-color: #3c7db1;
}

.profform{
    color: white;
    background-color: #3c7db1;
}

#infoprof{
    width: 50%;
    height: 98%;
    background-color: #ffeb3b1c;
    text-align: center;
    border: solid 2px;
    font-size: 25px;
}

#pascopro{
    font-size: 65px;
    color: red;
    position: absolute;
    margin-left: 13%;
    margin-top: 17%;
    background-color: #03a9f4a8;
}






/*user.php*/

#bodyu{
background-image: url(https://images.freeimages.com/images/large-previews/01a/technology-background-1632715.jpg);
display: flex;

}
.blocuser{
	display: flex;
	justify-content: center;
}
#titreu{
    color: #b6e8ff;
    background-color: #2b2bd861;
    text-align: center;
	

}


#mainuser{

text-align: center;
    width: 50%;
    height: 291px;
    background-color: #03a9f463;
    border: solid black 2px;
    font-size: 25px;
    margin-top: 13%;
    color: #ffffff;
    

}

#formU{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #fafcff;
}
#containeruser{
	display: flex;
	flex-direction: column;
	width: 100%;
}