/*page profil*/
.bodyf{
	background-image:url(https://images.freeimages.com/images/large-previews/01a/technology-background-1632715.jpg);
	background-size: cover;

}

#container1{
    width: 716px;
    height: 507px;
    background-color: #03a9f452;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 29%;
    margin-top: 10%;
    border: solid 3px black;
}

#main{


    width: 50%;
    height: 291px;
    background-color: #5ca78433;
    border: solid black 2px;
    font-size: 25px;


}

#info-prof{
    width: 50%;
    height: 98%;
    background-color: #ffeb3b1c;
    text-align: center;
    border: solid 2px;
    font-size: 25px;

}


#profc{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 30%;
	text-align: center;
}

#H1prof {
	text-align: center;
}
#H1pro{
position: absolute;
    font-size: 34px;
    color: black;
    margin-top: 11%;
    margin-left: 32%;
    background-color: #3c7db1;
    text-align: center;
}
#h3prof{
    color: white;
    background-color: #3c7db1;
}

.profform{
    color: white;
    background-color: #3c7db1;
}

#infoprof{
    width: 50%;
    height: 98%;
    background-color: #ffeb3b1c;
    text-align: center;
    border: solid 2px;
    font-size: 25px;
}

#pascopro{
    font-size: 65px;
    color: red;
    position: absolute;
    margin-left: 13%;
    margin-top: 17%;
    background-color: #03a9f4a8;
}






/*user.php*/

#bodyu{
background-image: url(https://images.freeimages.com/images/large-previews/01a/technology-background-1632715.jpg);
display: flex;

}
.blocuser{
	display: flex;
	justify-content: center;
}
#titreu{
    color: #b6e8ff;
    background-color: #2b2bd861;
    text-align: center;
	

}


#mainuser{

text-align: center;
    width: 50%;
    height: 291px;
    background-color: #03a9f463;
    border: solid black 2px;
    font-size: 25px;
    margin-top: 13%;
    color: #ffffff;
    

}

#formU{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #fafcff;
}
#containeruser{
	display: flex;
	flex-direction: column;
	width: 100%;
}
/*css page inscription et connexion*/
.inscription
{
	background-image: url('img/fondtopic.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
	padding: 0px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}
.conteneur1{
	
	background-color:#8ecbfb7a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 350px;
    margin-top: 103px;
    width: 600px;
    height: 284px;

}
.bouton{
	border-radius: 20px;
	font-family: Arial;
}
/*css page topic*/
#topic{
	margin: 0px;
	padding: 0px;
	width: 100%;
	display: flex;
	flex-direction:column;
	justify-content:center;
	font-family:Tahoma,Geneva,sans-serif;
	font-weight:400
}

.header{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: 100px;
	background-color:#238bde80;

}
.footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: 100px;
	background-color:#238bde80;

}
/*contenu des formulaires topics*/
#conteneur{
	background-image: url('img/fondtopic.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction:column;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 50px;

}

#conteneurform{
	background-color:#8ecbfb7a;
	display:flex;
	flex-flow: row;
	justify-content: space-around;
	width: 80%;
	height: 400px;
	margin-top: 30px;
	padding-right: 30px;

}

#formulaire{
	background-color:#8ecbfb7a;
	border:solid;
	display: flex;
	flex-direction:column;
	justify-content:space-around;
	align-items: center;
	width: 80%;
	height: 300px;
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 30px;
	

}
.form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:#8ecbfb7a;
	border:solid;
	width: 30%;
	height: 300px;
	margin-left: 30px;
	margin-top: 30px;
	
}

/*barre nav*/
a{
	text-align:center;
	text-decoration:none;
}

ol{
	margin:0;padding:0;list-style-type:none
	}


.menu{
	width:100%;
	
	display:block;
	position:relative;
	z-index: 60;
	}

.menu > ol:first-child{
	width:100%;
	display:flex;
	position:relative;
	flex-flow:row wrap;
	justify-content:center
	}

.menu-item, .menu-itemc{
	width:150px;
	position:relative;
	perspective:100%;
	cursor:pointer
	}

.menu-item a, .menu-itemc a{
	width:100%;
	padding:16px 0;
	display:block;
	position:relative;
	color:#fff;
	border-radius:4px;
	transition:all .5s ease;
	transform-style:preserve-3d
	}

.menu-item a:before, .menu-itemc a:before{
	width:100%;
	padding:16px 0;
	display:block;
	position:absolute;
	color:#000;
	border-radius:4px;
	}

.menu > ol:first-child > .menu-item{display:block}
.menu > ol:first-child > .menu-itemc{display:block}

.menu > ol:first-child > .menu-item > a
	{background:#000;box-shadow:0 8px 6px -6px #595959}
.menu > ol:first-child > .menu-itemc > a
	{background:#000;box-shadow:0 8px 6px -6px #595959}



.menu > ol:first-child > .menu-item > a:before
	{background:white;bottom:90%;transform:rotateX(-90deg) translate3d(0,0,75px)}
.menu > ol:first-child > .menu-itemc > a:before
	{background:white;bottom:90%;transform:rotateX(-90deg) translate3d(0,0,75px)}
.menu > ol:first-child > .menu-item:nth-of-type(1) > a:before{content:"Home"}
.menu > ol:first-child > .menu-item:nth-of-type(2) > a:before{content:"Topics"}
.menu > ol:first-child > .menu-item:nth-of-type(3) > a:before{content:"Connexion"}
.menu > ol:first-child > .menu-item:nth-of-type(4) > a:before{content:"Inscription"}


.menu > ol:first-child > .menu-itemc:nth-of-type(3) > a:before{content:"Profil"}

.menu > ol:first-child > .menu-itemc:nth-of-type(4) > a:before{content:"Déconnexion"}

.menu > ol:first-child > .menu-item:hover > a{transform:rotateX(90deg)}
.menu > ol:first-child > .menu-itemc:hover > a{transform:rotateX(90deg)}



@keyframes fadein-down{
	from{display:none;opacity:0;transform:translateY(-10px)}
	to{display:block;opacity:1;transform:translateY(0)}
	}

@media screen and (min-width:321px) and (max-width:799px){
	.menu{width:320px;margin:auto}
	}

@media (max-width:799px){
	.menu > ol:first-child > .menu-item{width:100%}
	.menu > ol:first-child > .menu-item> a{box-shadow:none}
	.menu > ol:first-child > .menu-itemc{width:100%}
	.menu > ol:first-child > .menu-itemc > a{box-shadow:none}
	
	.menu > ol:first-child > .menu-item:nth-of-type(2) > a,
	.menu > ol:first-child > .menu-item:nth-of-type(4) > a
		{border:1px solid #fff;border-left:none;border-right:none}
	

	}
/*csstexte page index*/
#conttexte{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 680px;
}

#texte{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: Arial sans-serif;
	font-size: 30px;
}
.titre{
	color: white;
}


